

<div class="row introduction">

  <div class="container waypoint-trigger">

      <div class="twelve column value">

        <div class="image-wrapper">
          <img src="assets/images/intro.png" class="u-max-full-width">
        </div>

        <h1>Find out about what’s happening in and around your area</h1>
        <a class="button button-primary" href="https://angularjs.org/" target="_blank">Sign up</a>
      </div>

  </div>

</div>

<div class="row panel panel-one">

  <div class="container waypoint-trigger">

      <div class="two-thirds column value">
        <div class="image-wrapper">
          <img src="assets/images/1st_panel.png" class="u-max-full-width">
        </div>
      </div>

      <div class="one-third column value">

        <h1>Find people with a  common interest</h1>

        <p>

          <ul>
              <li>Sporting clubs</li>
              <li>Social clubs</li>
              <li>Conservation groups</li>
              <li>Mothers group</li>
          </ul>

        </p>

      </div>

  </div>

</div>

<div class="row panel panel-two">

  <div class="container waypoint-trigger">

      <div class="twelve column value">
        <h1>Local Recommendations</h1>

        <p>
          Find and share those hard to find trades and services
          <ul>
              <li>Tradies</li>
              <li>Babysitters</li>
              <li>Dog walkers</li>
              <li>Share accommodation</li>
          </ul>

        <p>

      </div>

  </div>

</div>

<div class="row panel panel-three">

  <div class="container waypoint-trigger">

      <div class="five columns value">
        <h1>Know the essentials of living in your area</h1>

        <p>
          <ul>
              <li>Bin nights</li>
              <li>Planning applications</li>
              <li>Council elections and consultation</li>
              <li>Report a traffic issue or nuisance to the council</li>
              <li>Lost and found</li>
              <li>Road and traffic disruptions</li>
              <li>Vaccinations</li>
              <li>Maternal health information</li>
          </ul>

        <p>

      </div>

      <div class="seven columns value">
        <div class="image-wrapper">
          <img src="assets/images/3rd_panel.png" class="u-max-full-width">
        </div>
      </div>

  </div>

</div>

<div class="row panel panel-four">

  <div class="container waypoint-trigger">

      <div class="twelve column value">
        <h1>Never miss an event</h1>

        <p>
          Find out about fetes, fairs, markets, classes, garage sales, community street parties and local sales. Tailor events and activities notifications to you.
        <p>

        <div class="image-wrapper">
          <img src="assets/images/4th_panel.png" class="u-max-full-width">
        </div>

      </div>

  </div>

</div>

<div class="row panel panel-five">

  <div class="container waypoint-trigger">

      <div class="two-thirds column value">
        <div class="image-wrapper">
          <img src="assets/images/5th_panel.png" class="u-max-full-width">
        </div>
      </div>

      <div class="one-third column value">
        <h1>Crime and Safety</h1>

        <p>
          Stay informed about urgent alerts and crime updates. 
          <ul>
              <li>Local police updates</li>
              <li>Report a suspicious event</li>
          </ul>

        <p>

      </div>

  </div>

</div>

<div class="row panel panel-six">

  <div class="container waypoint-trigger">

      <div class="five columns value">
        <h1>Sell and Share</h1>

        <p>
          Safely and easily share, sell and buy anything with members of your community
          <ul>
              <li>Bikes</li>
              <li>Tools</li>
              <li>Electronics</li>
              <li>Cars</li>
              <li>Clothes</li>
          </ul>

        <p>

      </div>


      <div class="seven columns value">
        <div class="image-wrapper">
          <img src="assets/images/6th_panel.png" class="u-max-full-width">
        </div>
      </div>

  </div>

</div>

<div class="row panel panel-seven">

  <div class="container waypoint-trigger">

      <div class="twelve column value">
        <h1>Sign up for a free account today</h1>

        <a class="button button-primary" href="https://angularjs.org/" target="_blank">Sign up</a>

      </div>

  </div>

</div>