<div class="container">

    <div class="register"  ng-class="{transitionIn: transitionIn}">

    	<h1>Register</h1>
    	<p>
    	    {{bodyCopy}}
    	</p>
<div id="cosmos-form-wrapper">Loading...</div>

<script type="text/javascript">

  $(document).ready(function () {
    var _cosmosProjectName        = "explorelocalinterest";
    var _cosmosProjectPassword    = "9fd44e6fa93a13a32e5a607d8e3f5863";
    var _cosmosFormWrapper        = "#cosmos-form-wrapper";
    var _cosmosModuleName       = "primary";

    // sets up the upload details
    var _cosmosForm = new Cosmos.Data.newForm();
    _cosmosForm.defineProjectSettings(_cosmosProjectName, _cosmosProjectPassword, true);
    _cosmosForm.setupForm(_cosmosFormWrapper, {success:formSuccessHandler});
    
    function formSuccessHandler(){
      
          }

  });

</script>


    </div>

</div>