<div class="container">

	<div class="waypoint"  ng-class="{transitionIn: transitionIn}">

		<h1>waypoint example</h1>
		<p>
		    {{bodyCopy}}
		</p>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>
		<div class="big-block waypoint-trigger">
		</div>

	</div>

</div>