// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  background-color:#fff;
}

h1 {
  font-color:#ff0;
}



// menu at top of page
#menu {  background: #fff;  height: 40px; text-align: right;   overflow: hidden; border-bottom: 1px solid #e1e1e1;}
#menu ul {  list-style: none;  margin: 0; padding: 0;}
#menu ul li {  float: left;  margin-right: 20px;}
#menu ul li a {  font-size: emCalc(12px); color: #777;  line-height: 40px;  text-decoration: none;}
#menu ul li a:hover {  color: #a55;}
#menu ul li.active a {  color: #ee9999;}


// menu at top of page
#footer {  background: #fff;  height: 40px; text-align: right;   overflow: hidden; border-top: 1px solid #e1e1e1;}
#footer ul {  list-style: none;  margin: 0; padding: 0;}
#footer ul li {  float: left;  margin-right: 20px;   line-height: 40px; color: #c4c4c4;}
#footer ul li a {  font-size: emCalc(12px); color: #777;  text-decoration: none;}
#footer ul li a:hover {  color: #555;}
#footer ul li a.active {  color: #666;}

