
@import "skeleton";
@import "normalize";

/* mixins to make our lives easier */

@mixin animation($delay, $duration, $iteration, $animation, $speed-curve) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
    -webkit-animation-name: $animation;
    -webkit-animation-timing-function: $speed-curve;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-iteration-count: $iteration;
    -moz-animation-name: $animation;
    -moz-animation-timing-function: $speed-curve;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-iteration-count: $iteration;
    -o-animation-name: $animation;
    -o-animation-timing-function: $speed-curve;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -ms-animation-delay: $delay;
    -ms-animation-duration: $duration;
    -ms-animation-iteration-count: $iteration;
    -ms-animation-name: $animation;
    -ms-animation-timing-function: $speed-curve;
    -ms-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-iteration-count: $iteration;
    animation-name: $animation;
    animation-timing-function: $speed-curve;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }

    @-ms-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
    height: 100%;
}

body {
  padding: 0;
  background-color:#fff;
}
h1 {
  font-color:#ff0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

//////////////////////////////////////
// LOADING SCREEN
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

//////////////////////////////////////
// NAVIGATION

.navigation {  background: #fff;  height: 40px; text-align: right;   overflow: hidden; border-bottom: 1px solid #e1e1e1;}
.navigation ul {  list-style: none;  margin: 0; padding: 0;}
.navigation ul li { cursor: pointer; float: left;  margin-right: 20px; font-size: emCalc(12px); color: #777;  line-height: 40px;  text-decoration: none;}
.navigation ul li.active {  color: #ee9999;}


//////////////////////////////////////
// FOOTER

.footer {  background: #fff;  height: 40px; text-align: right;   overflow: hidden; border-top: 1px solid #e1e1e1;}
.footer ul {  list-style: none;  margin: 0; padding: 0;}
.footer ul li {  float: left;  margin-right: 20px;   line-height: 40px; color: #c4c4c4; font-size: emCalc(12px); }

.footer-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -40px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .footer-push {
    height: 40px; /* .push must be the same height as .footer */
}


//////////////////////////////////////
// ANIMATION

// animation keyframe
@include keyframes(fadeInAnimation) { 
  0%   { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }
}

//////////////////////////////////////
// ABOUT PAGE

// transition example for about page
.about.transitionIn h1 {
  opacity: 0;
  //$delay, $duration, $iteration, $animation, $speed-curve
  @include animation(0s, 2s, 1, fadeInAnimation, 'ease-out');
}
.about.transitionIn p {
  opacity: 0;
  //$delay, $duration, $iteration, $animation, $speed-curve
  @include animation(1s, 2s, 1, fadeInAnimation, 'ease-out');
}


//////////////////////////////////////
// WAYPOINT EXAMPLE PAGE

// transition example for about page
.waypointexample.transitionIn h1 {
  opacity: 0;
  //$delay, $duration, $iteration, $animation, $speed-curve
  @include animation(0s, 2s, 1, fadeInAnimation, 'ease-out');
}
.waypointexample.transitionIn p {
  opacity: 0;
  //$delay, $duration, $iteration, $animation, $speed-curve
  @include animation(1s, 2s, 1, fadeInAnimation, 'ease-out');
}

.waypointexample .big-block {
  float: left;
  display: block;
  width: 100%;
  height: 200px;
  background-color: #ededed;
  border: solid 4px #fefefe;
}

// waypoint
.waypointexample .waypoint-trigger {
  opacity: 0;
}
.waypointexample .waypointTransitionIn {
  //$delay, $duration, $iteration, $animation, $speed-curve
  @include animation(0s, 2s, 1, fadeInAnimation, 'ease-out');
}