<div class="gallery"  ng-class="{transitionIn: transitionIn}">

	<h1>Gallery</h1>
	
	<div class="loaded" ng-show="loadingStatus == 'loading'">
		<p>
			loading...
		</p>
	</div>

	<div class="loaded" ng-show="loadingStatus == 'error'">
		<p>
			oops, something went wrong. try refreshing the page.
		</p>
	</div>

	<div class="loaded" ng-show="loadingStatus == 'loaded'">

		<div class="item" ng-repeat="item in items" >
		    <div class="row">
		    	<div class="four columns">
					<img class="u-max-full-width" ng-src="{{item.uploaded_images[0].uploaded_image_path_500}}">
				</div>
		    	<div class="eight columns">
					<p>
						{{item.page_title}}
					</p>
				</div>
		    </div>
		</div>

	</div>



</div>