

<div class="row introduction">

  <div class="container">

      <div class="twelve column value">
        <h1>Find out about what’s happening in and around your area</h1>
        <a class="button button-primary" href="https://angularjs.org/" target="_blank">Sign up</a>
      </div>

  </div>

</div>

<div class="row panel-one">

  <div class="container">

      <div class="two-thirds column value">
        dd
      </div>

      <div class="one-third column value">

        <h1>Find people with a  common interest</h1>

        <p>

          <ul>
              <li>Sporting clubs</li>
              <li>Social clubs</li>
              <li>Conservation groups</li>
              <li>Mothers group</li>
          </ul>

        </p>

      </div>

  </div>

</div>

<div class="row panel-two">

  <div class="container">

      <div class="twelve column value">
        <h1>Local Recommendations</h1>

        <p>
          Find and share those hard to find trades and services
          <ul>
              <li>Tradies</li>
              <li>Babysitters</li>
              <li>Dog walkers</li>
              <li>Share accommodation</li>
          </ul>

        <p>

      </div>

  </div>

</div>

<div class="row panel-three">

  <div class="container">

      <div class="twelve column value">
        <h1>Local Recommendations</h1>

        <p>
          Find and share those hard to find trades and services
          <ul>
              <li>Tradies</li>
              <li>Babysitters</li>
              <li>Dog walkers</li>
              <li>Share accommodation</li>
          </ul>

        <p>

      </div>

  </div>

</div>

<div class="row panel-four">

  <div class="container">

      <div class="twelve column value">
        <h1>Local Recommendations</h1>

        <p>
          Find and share those hard to find trades and services
          <ul>
              <li>Tradies</li>
              <li>Babysitters</li>
              <li>Dog walkers</li>
              <li>Share accommodation</li>
          </ul>

        <p>

      </div>

  </div>

</div>

<div class="row panel-five">

  <div class="container">

      <div class="twelve column value">
        <h1>Local Recommendations</h1>

        <p>
          Find and share those hard to find trades and services
          <ul>
              <li>Tradies</li>
              <li>Babysitters</li>
              <li>Dog walkers</li>
              <li>Share accommodation</li>
          </ul>

        <p>

      </div>

  </div>

</div>

<div class="row panel-six">

  <div class="container">

      <div class="twelve column value">
        <h1>Local Recommendations</h1>

        <p>
          Find and share those hard to find trades and services
          <ul>
              <li>Tradies</li>
              <li>Babysitters</li>
              <li>Dog walkers</li>
              <li>Share accommodation</li>
          </ul>

        <p>

      </div>

  </div>

</div>

<div class="row panel-seven">

  <div class="container">

      <div class="twelve column value">
        <h1>Local Recommendations</h1>

        <p>
          Find and share those hard to find trades and services
          <ul>
              <li>Tradies</li>
              <li>Babysitters</li>
              <li>Dog walkers</li>
              <li>Share accommodation</li>
          </ul>

        <p>

      </div>

  </div>

</div>