<div class="jumbotron">
  <h1>Angular boilerplate</h1>
  <p class="lead">
    Boilerplate for AngularJS projects with demand loading
  </p>
</div>

<div class="row">

    <div class="one-third column value">
      <h4>AngularJS</h4>
      <p>
        We use directives to create reusable components. A component allows you to hide complex DOM structure, CSS, and behavior. 
      </p>
      <a class="button" href="https://angularjs.org/" target="_blank">angularjs.org</a>
    </div>

    <div class="one-third column value">
      <h4>Skeleton</h4>
      <p>
        Light as a feather at ~400 lines and built with mobile in mind. Styles designed to be a starting point, not a UI framework.
      </p>
      <a class="button" href="http://getskeleton.com/" target="_blank">getskeleton.com</a>
    </div>

    <div class="one-third column value">
      <h4>Cosmos</h4>
      <p>Cosmos is the easy, secure and flexible way to gather and publish content.</p>
      <a class="button" href="http://cosmosis-api.com/" target="_blank">cosmosis-api.com</a>
    </div>

</div>
