



<div class="row introduction">
  
  <div class="container">

      <div class="twelve column value">

    	<div class="main"  ng-class="{transitionIn: transitionIn}">

        	<h1>Product Transformation Academy<br> coming soon.</h1>
        	<p>We're here to help build the skills and capabilities needed to create emerging products and services.</p> 
        	<div class="button-wrapper">
        		<a href="mailto:dlproducttransformation@auspost.com.au?subject=Keep me updated&body=Hi, Please notify me when you update your site." class="button button-primary">Register your interest</a>
        	</div>

        </div>

      </div>

  </div>

</div>
